body {
  background-color: #F0F6F7FF;
  font-family: 'Lato', sans-serif;
}

.pic img{
  width: 40%;
  height: auto;
  float: left;
  margin-left: 80px;
  position: absolute;
  margin-top: -20px;
}

.title {
  margin-left: 50%;
  color: #669DB3FF;
  margin-top: 80px;
}

.tab {
  float: right;
  margin-right: 20px;
  text-decoration: none;
  color: #669DB3FF;
}

.topdiv{
  margin-right: 10%;
}

.current{
  text-decoration: underline #FF4F58FF;
}

.subtitle {
  color: #669DB3FF;
  font-size: 40px;
  text-align: right;
  padding-top: 80px;
}

.subtitle2 {
  color: #669DB3FF;
  margin-top: -20px;
  font-size: 40px;
  text-align: right;
}

.getstarted {
  font-size: 15px;
  font-weight: 700;
  border: 1.5px solid #669DB3FF;
  width: 115px;
  padding-left: 12px;
  height: 30px;
  color: #669DB3FF;
  padding-top: 10px;
  padding-left: 20px;
  border-radius: 3px;
  display: inline-block;
  box-shadow: 0 5px 20px #8f8f8f2f;
  transition: all 0.5s;
  float: right;
}

.getstarted:hover{
  box-shadow: 0 5px 30px #8f8f8f73;
  background-color: #669db321;
}

.pgsubtitle{
  padding-top: 80px;
  margin-left: 8%;
  font-size: 40px;
  color: #669DB3FF;
}

.boxes > div{
  background-color: #669db36e;
  border-radius: 30px;
  width: 25%;
  height: 375px;
  box-shadow: 0 5px 20px #8f8f8f65;
  transition: box-shadow 0.3s;
}

.boxes > div:hover{
  box-shadow: 0 5px 30px #8f8f8fb4;
}

.box1 {
  float: left;
  margin-left: 8%;
  border: 0;
}

.box2 {
  margin: auto;
  border: 0;
  margin-top: 190px; /** this is the only margin you need to change **/
}

.box3 {
  float: right;
  margin-right: 8%;
  border: 0;
  margin-top: -375px;
}

#gaw {
  text-decoration: none;
  color: #669DB3FF;
}

.square {
  height: 33px;
  width: 33px;
  background-color: #FF4F58FF;
  float: left;
  margin-left: 30px;
  margin-top: 40px;
}

.triangle {
  width: 0px;
  height: 0px;
  border-right: 20px solid transparent;
  border-bottom: 30px solid #FF4F58FF;
  border-left: 20px solid transparent;
  float: left;
  margin-left: 30px;
  margin-top: 40px;
}

.circle {
  background-color: #FF4F58FF;
  height: 35px;
  width: 35px;
  border-radius: 35px;
  float: left;
  margin-left: 30px;
  margin-top: 40px;
}

.boxp {
  color: black;
  margin-left: 30px;
  margin-right: 15px;
}

.boxh3 {
  padding-top: 80px;
  padding-left: 30px;
}

.boxh3dif {
  padding-top: 100px;
  padding-left: 30px;
}

.sdiv2 {
  border: 2.5px solid #669DB3FF;
  background-color: #669DB3FF;
  height: 0.1px;
  width: 45px;
  margin-left: 30px;
  margin-top: -12px;
}

.emails {
  margin-left: 8%;
  color: #669DB3FF;
  margin-top: 20px;
  font-size: 30px;
}

.emails2 {
  margin-left: 8%;
  color: #669DB3FF;
  margin-top: 20px;
  font-size: 20px;
}

.contactlinks {
  text-decoration: none;
  color: #669DB3FF;
}
