body {
  background-color: #F0F6F7FF;
  font-family: 'Lato', sans-serif;
}

.title {
  margin-left: 40px;
  color: #669DB3FF;
  margin-top: 25px;
}

.tab {
  float: right;
  margin-right: 20px;
  text-decoration: none;
  color: #669DB3FF;
}

#current1 {
  border: 2px solid #A89C94FF;
  height: 0.2px;
  width: 61px;
  margin-top: -20px;
  float: right;
  margin-right: 422px;
}

#current2 {
  border: 2px solid #A89C94FF;
  height: 0.2px;
  width: 65px;
  margin-top: -20px;
  float: right;
  margin-right: 332px;
}

#current3 {
  border: 2px solid #A89C94FF;
  height: 0.2px;
  width: 69px;
  margin-top: -20px;
  float: right;
  margin-right: 237px;
}

#current4 {
  border: 2px solid #A89C94FF;
  height: 0.2px;
  width: 79px;
  margin-top: -20px;
  float: right;
  margin-right: 130px;
}

#current5 {
  border: 2px solid #A89C94FF;
  height: 0.2px;
  width: 84px;
  margin-top: -20px;
  float: right;
  margin-right: 20px;
}

.sdiv {
  border: 3px solid #A89C94FF;
  height: 0.3px;
  width: 85px;
  margin-left: 40px;
  margin-top: 75px;
}

.subtitle {
  margin-left: 40px;
  color: #669DB3FF;
  margin-top: 20px;
  font-size: 40px;
}

.subtitle2 {
  margin-left: 40px;
  color: #669DB3FF;
  margin-top: -20px;
  font-size: 40px;
}

.getstarted {
  margin-left: 40px;
  font-size: 15px;
  border: 1.5px solid #A89C94FF;
  width: 115px;
  padding-left: 12px;
  height: 30px;
  color: #669DB3FF;
  padding-top: 10px;
  padding-left: 20px;
  border-radius: 2.5px;
}

.box1 {
  background-color: #A89C94FF;
  float: left;
  width: 25%;
  height: 350px;
  margin-left: 40px;
  margin-top: 70px;
  border: 0;
}

.box2 {
  background-color: #A89C94FF;
  margin: auto;
  width: 25%;
  height: 350px;
  margin-top: 70px;
  border: 0;
}

.box3 {
  background-color: #A89C94FF;
  float: right;
  width: 25%;
  height: 350px;
  margin-right: 40px;
  border: 0;
  margin-top: -350px;
}

#gaw {
  text-decoration: none;
  color: #669DB3FF;
}

.square {
  height: 33px;
  width: 33px;
  background-color: #669DB3FF;
  float: left;
  margin-left: 30px;
  margin-top: 40px;
}

.triangle {
  width: 0px;
  height: 0px;
  border-right: 20px solid transparent;
  border-bottom: 30px solid #669DB3FF;
  border-left: 20px solid transparent;
  float: left;
  margin-left: 30px;
  margin-top: 40px;
}

.circle {
  background-color: #669DB3FF;
  height: 35px;
  width: 35px;
  border-radius: 35px;
  float: left;
  margin-left: 30px;
  margin-top: 40px;
}

.boxp {
  color: black;
  margin-left: 30px;
  margin-right: 15px;
}

.boxh3 {
  padding-top: 80px;
  padding-left: 30px;
}

.boxh3dif {
  padding-top: 100px;
  padding-left: 30px;
}

.sdiv2 {
  border: 2.5px solid #669DB3FF;
  background-color: #669DB3FF;
  height: 0.1px;
  width: 45px;
  margin-left: 30px;
  margin-top: -12px;
}

.emails {
  margin-left: 40px;
  color: #669DB3FF;
  margin-top: 20px;
  font-size: 30px;
}

.emails2 {
  margin-left: 40px;
  color: #669DB3FF;
  margin-top: 20px;
  font-size: 20px;
}

.contactlinks {
  text-decoration: none;
  color: #669DB3FF;
}
