html, body {
  overflow: auto;
}

body {
  background-color: #F0F6F7FF;
  font-family: 'Lato', sans-serif;
}

.nav {
  text-align: center;
  font-size: 12px;
  padding-top: 20px;
}

.nav a {
  color: #669DB3FF;
  text-decoration: none;
}

#current {
  text-decoration: underline #FF4F58FF;
}

#banner img {
  width: 100%;
  height: auto;
  max-width: 700px;
  margin: 20px auto 10px;

}

#action {
  width: 80%;
  margin: 0 auto;
}

#action h1 {
  color: #669DB3FF;
}

#button {
  text-decoration: none;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 700;
  border: 1.5px solid #669DB3FF;
  color: #669DB3FF;
  border-radius: 3px;
  box-shadow: 0 5px 20px #8f8f8f2f;
  transition: all 0.5s;
}

#button:hover{
  box-shadow: 0 5px 30px #8f8f8f73;
  background-color: #669db321;
}

#boxes {
  width: 80%;
  padding-top: 60px;
  margin: 0 auto;
}

#boxes > div {
  background-color: #669db36e;
  border-radius: 30px;
  box-shadow: 0 5px 20px #88888865;
  transition: box-shadow 0.3s;
  padding: 10px 20px;
  margin: 20px auto 20px;
  max-width: 500px;
}

#boxes > div:hover {
  box-shadow: 0 5px 30px #88888865;
}

#boxes a {
  color: #000;
}

/* shapes */

.square {
  height: 33px;
  width: 33px;
  background-color: #FF4F58FF;
  margin-top: 14px;
}

.triangle {
  width: 0px;
  height: 0px;
  border-right: 20px solid transparent;
  border-bottom: 30px solid #FF4F58FF;
  border-left: 20px solid transparent;
  margin-top: 14px;
}

.circle {
  background-color: #FF4F58FF;
  height: 35px;
  width: 35px;
  border-radius: 35px;
  margin-top: 14px;
}

.line {
  border: 2.5px solid #669DB3FF;
  background-color: #669DB3FF;
  height: 0.1px;
  width: 45px;
}


/* other pages */

#banner2 img {
  width: 80%;
  margin: 0 auto;
  height: auto;
  max-width: 500px;
  margin: 20px auto 10px;
}

#action2 {
  width: 80%;
  margin: 0 auto;
  color: #669DB3FF;
  margin-bottom: -60px;
}

.subtitle {
  margin-left: 11%;
  margin-top: 100px;
  color: #669DB3FF;
}

.subtitle2 {
  margin-left: 11%;
  color: #669DB3FF;
}

.subtitle3 {
  margin-left: 11%;
  font-weight: 400;
  font-size: 16px;
}

.contactlinks {
  color: #FF4F58FF;
}

/* pricing page */

.priceheader {
  font-size: 22px;
}

.priceprice {
  font-size: 28px;
  color: #FF4F58FF;
  margin-top: -10px;
  margin-bottom: 10px;
}

.priceboxes {
  padding-bottom: 40px;
}


@media (min-width: 700px) {

  #boxes > div {
      float: left;
  }

  .nav {
      font-size: 16px;
      float: left;
      margin-left: 10%;
  }
}

@media (min-width: 1200px) {
  
  #boxes > div {
      float: left;
      width: 25%;
      margin: 40px 2% 0;
  }

  #box4 {
    margin-top: 10%;
  }

  .nav {
      float: right;
      font-size: 14px;
      margin-right: 5%;
  }

  #action {
      float: right;
      max-width: 200px;
      text-align: right;
      margin-right: 5%;
      margin-top: -220px;
  }

  #action2 h1 {
      font-size: 40px;
      float: right;
      max-width: 200px;
      text-align: right;
      margin-right: -76px;
      margin-top: -120px;
  }
}

@media (min-width: 1400px) {

  .nav {
      font-size: 16px;
      margin-top: 3%;
  }

  #banner img {
      margin-top: 3%;
  }

  #banner2 img {
      margin-top: 3%;
  }
}

@media (min-width: 1700px) {

  .nav {
      font-size: 18px;
      margin-right: 16%;
  }

  #banner img {
      margin-left: 8%;
  }

  #banner2 img {
      margin-left: 8%;
  }

  #action {
      margin-right: 16%;
  }

  #action2 {
      margin-right: 20%;
  }
}


